html {
  background-color: #ffd7fc;
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #020849, #775f95), url(https://grainy-gradients.vercel.app/noise.svg);
  color: #dfe1ff;
}

.page-header {
  color: #dfe1ff;
  margin: 0;
  padding: 40px 0 10px 0;
  font-family: "Epilogue", sans-serif;
  font-size: 32px;
}

.page-description {
  margin-bottom: 50px;
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Movie.js*/
.header {
  font-size: 50px;
  margin: 40px 0 10px 0;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #dcd756;
}

.description-paragraph {
  margin-bottom: 40px;
}

.ready-made-queries {
  display: flex;
  flex-direction: column;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px
}

.ready-made-query-button {
  border: 2px solid #dfe1ff;
  background-color: transparent;
  color:#dfe1ff;
  border-radius: 16px;
  height: 40px;
  transition: all .2s;
  font-size: 12pt;
  margin: 5px;
  width: fit-content;
}

.ready-made-query-button:hover {
  border: 2px solid #dcd756;
  background-color: #dcd756;
  color: #471978;
}

/*QueryInput.js*/
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0 50px 0;
  }

.input-box {
  min-height: 250px;
  width: 500px;
  border-radius: 4px;
  border: 2px solid #ffd219;
  background-color: #dfe1ff;
}

/*QueryResult.js*/
.result-container {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-header {
  font-size: 28px;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #dcd756;
}

.result-table {
  width: 600px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.genre-filter {
  display: flex;
  flex-direction: column;
}

/*NavigationBar.js*/
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  height: 40px;
}

.navbar-menu a {
  color: #dfe1ff; 
  font-weight: 700;
  font-size: 18px;
  text-decoration: none; 
  transition: all .2s ease-in-out; 
}

.navbar-menu a:hover {
  color: #dcd756; 
  font-size: 24px;
}



/*ActorPage.js*/

.actor-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  justify-content: space-evenly;
}

.actor-search-input {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #dcd756;
  padding: 10px;
}

/*GenrePage.js*/
.genre-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-buttons {
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.crew-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}